
# Exclude all CSV files
*.csv

# Exclude all JSON files
*.json

# Exclude all Word documents
*.docx

# Exclude all HTML files
*.html

# Exclude Mac OS log bullshit
*.DS_Store

# Exclude all media files
*.mp3
*.wav
*.aiff
*.m4a
*.mp4
*.mov
*.webm

